.signup-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup__form {
  width: 20%;
  height: 190px;
  border-radius: 20px;
  background-color: #91cbde;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 60px;
  flex-wrap: wrap;
  --webkit-box-shadow: 4px 4px 65px 45px #3ca0d08f;
  -moz-box-shadow: 4px 4px 65px 45px #3ca0d08f;
  box-shadow: 4px 4px 65px 45px #3ca0d08f;
}

.signup__form-elems {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}