.App {
  background-color: #a9d6e5;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
p {
  color: #03436A;
}

h1 {
  color: #03436A;
}

input, button {
  background-color: #7dc2d8;
  color: #03436A;
  border-radius: 10px;
  border-color: #03436A;
}

input::placeholder {
  font-style: italic;
}
button:hover {
  cursor: pointer
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
